header {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

div {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}
