header {
  background-color: rgba(147, 101, 168, 0.368);
}

#food {
  background-color: wheat;
}

.foods {
  border: 1px;
  background-color: antiquewhite;
}

#barca {
  border: 1px;
  background-color: antiquewhite;
}

#bubu {
  background-color: antiquewhite;
}

#best {
  background-color: beige;
}

.nn {
  background-color: blanchedalmond;
}

#sec {
  background-color: bisque;
}

#page {
  background-color: bisque;
}

#pic {
  background-color: beige;
}

#lemon {
  background-color: wheat;
}
